<p>You are logged in as the Administrator.</p>
<div class="terms-and-conditions" *ngIf="termsAndConditions">
  <p>Please accept the following terms and conditions:</p>
  <i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ex non eros maximus pharetra vel vel neque. Quisque vel risus orci. Nulla eu nisi ligula. Pellentesque lobortis est id nibh euismod, ac ultricies est dignissim. Etiam et semper enim. Aenean sagittis commodo enim sed mattis. Aenean lobortis nulla a lobortis tempor. Donec erat felis, fringilla eu pharetra feugiat, elementum eget est. Fusce vitae mollis sapien, vel hendrerit tortor. Phasellus gravida suscipit ultricies. Fusce luctus non dolor ut varius. Nam fringilla sodales aliquam. Aliquam quam elit, elementum nec lorem id, auctor semper nisl. Mauris faucibus ultricies lectus a malesuada.

    Morbi et velit ex. Aenean eu feugiat odio, vitae volutpat arcu. Praesent eget fermentum est. Nam pharetra magna ut mauris mollis porta. Cras vehicula maximus euismod. Integer aliquam et dolor sed congue. Nam suscipit augue et ligula dapibus, sed cursus nulla posuere. Maecenas quis vehicula tortor. Cras diam nisl, lacinia molestie mi id, ultricies pulvinar lorem. Morbi tincidunt mauris id lectus ultricies, a suscipit justo congue. Nunc quis orci quis mi maximus bibendum. Maecenas sed libero sollicitudin, tincidunt risus at, posuere nunc.

    Pellentesque venenatis varius mauris, et sollicitudin felis faucibus dignissim. Nunc consequat sem a rhoncus ornare. In feugiat, justo non euismod pellentesque, est purus vestibulum massa, ut convallis ipsum orci at eros. Curabitur pharetra ac sem eget venenatis. Nullam at convallis leo. In viverra est sed nisl aliquet vestibulum. Donec sed vehicula diam, ac venenatis odio. Donec vel lorem tellus. Cras et nibh id sapien viverra hendrerit. Donec pharetra eget arcu a sagittis.</p></i>
</div>
<p><button mat-button color="primary" (click)="submitTermsAndConditions()" id="terms-button" *ngIf="termsAndConditions">Submit</button>
</p>

<div *ngIf="!termsAndConditions" class="chart-container">
  <img src="./assets/chart.png" alt="" class="img-chart">
  <img src="./assets/chart1.png" alt="" class="img-chart">
  <img src="./assets/chart2.png" alt="" class="img-chart">
</div>
