<div class="container mobile-container">
  <div class="phone_body">
    <div class="screen">
      <div class="cut"></div>
      <div class="camera">
        <div class="camera_inner"></div>
      </div>
      <div class="screen_contents">
        <h1>OTP Login</h1>
        <div class="input" id="otp-input">
          <div>
            <span>{{OTP}}</span>
          </div>
          <div>
            <mat-icon (click)="copyOTP()" matTooltip="Click to copy the OTP" id="copy-icon">file_copy</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="side_btn">
    <div class="volume"></div>
    <div class="power"></div>
  </div>
</div>
