<div class="general-container">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Insert your username</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Insert your password">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Password" type="password"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="getOTP()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Insert OTP">
        <div class="insert-otp-general-container-1">
          <app-mobile [OTP]="otp"></app-mobile>
          <div class="text-top">
            <span>Please insert the OTP that you're received:</span>
          </div>
          <p></p>
          <mat-form-field>
            <mat-label>OTP</mat-label>
            <input matInput [(ngModel)]="otpValue" required>
          </mat-form-field>
          <button mat-raised-button  (click)="confirmOTP()">Submit</button>
          <p></p>
          <button mat-button matStepperNext id="nextButtonOTP">Next</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div *ngIf="isLogged; then thenBlock else elseBlock" class="last-dialog">
      </div>
      <ng-template #thenBlock>
        <app-dashboard></app-dashboard>
      </ng-template>
      <ng-template #elseBlock>Username and/or password are incorrect</ng-template>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </mat-step>
  </mat-stepper>
</div>

