.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.general-container {
  width: 50%;
  margin: auto;
}

.mat-label-container-otp {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.insert-otp-general-container-1 {
  margin-top: 5%;
  text-align: center;
}

.text-top {
  margin-top: 10% !important;
}

.last-dialog {
  justify-content: center;
  text-align: center;
}

.input-forms {
  width: 100%;
  margin-top: 5%;
}

.dashboard-center {
  text-align: center;
  width: 100%;
}

.incorrect-data {
  margin: 10% auto;
  font-style: italic;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
}
